extends ../../layouts/default.pug
include ../../mixin/box-head.pug
include ../../mixin/product-layout.pug
block main 
	.container.my-3
		.row 
			.col-12 
				+box-head(pageTitle)
		+product-gird(products)